<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<%/*   include include.ejs  */%>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="js/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous"> -->
    <title>Điện lực ---</title>
</head>

<body>
<!--<%# include nav.ejs %>-->
<myMain id="myMain" hidden>
<nav class="navbar sticky-top navbar-expand-lg" style="background-color: rgb(28, 28, 255)">
    <a class="text-white navbar-brand" href="">HỆ THỐNG QUẢN LÍ ĐIỆN NĂNG THÔNG MINH
        <div class="text-center" id="titleKhuVuc">Quản trị viên khu vực ---</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <style>
            .navbar-toggler
            {
                background-color:white;
                border-radius: 3px;
            }
            .icon-bar
            {
                width: 18px;
                height: 4px;
                background-color: blue;
                margin: 3px 0px;
                border-radius: 3px;
            }
        </style>
    </button>
    <div class="navbar-collapse navbar-brand collapse" id="navbarTogglerDemo03" style="font-size: 16px">
        <!-- <form class="form-inline ml-auto"> -->
            <!-- <input class="form-control mr-sm-2" type="search" aria-label="Search"> -->
            <!-- <button class="btn my-2 my-sm-0" type="submit" style="background-color: #fff">Tìm kiếm</button> -->
        <!-- </form> -->
        <ul class="navbar-nav ml-4 ml-auto">
            <style>
                .header-hover:hover{
                    background-color: lightblue;
                }
                .header-hover-red:hover{
                    background-color: red
                }
            </style>
            <div class="btn header-hover" href="#" data-toggle="modal" type="link" data-target="#Modal_thongbao" >
                <a class="nav-link text-white" href="#" style="font-size: medium">Gửi thông báo</a>
            </div>
            <div class="btn header-hover" href="#" data-toggle="modal" type="link" data-target="#Modal_ThemKhachHang" >
                <a class="nav-link text-white" href="#" style="font-size: medium">Thêm khách hàng</a>
            </div>
            <div class="btn header-hover-red" href="#">
                <a id="logout" class="nav-link text-white" style="font-size: medium"  href="/login">Đăng xuất</a>
                <script>
                    document.getElementById("logout").onclick =
                    function()
                    {
                        firebase.auth().signOut();
                    }
                </script>
            </div>
        </ul>

    </div>
</nav>
    <div class="container-fluid position-static" style="background-color: #fffebb" >
        <div class="row">
            <div class="col-sm-12">
                <!-- <div class="text-center" style="background-color: #ffffff" >
                    <h1>Chỉ số hiện tại</h1>
                </div> -->
                <div class="text-center">
                    <h3>Pha 1</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage' class="text-center">220 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current' class="text-center">63 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power' class="text-center">456544 kW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ tháng <a class="thang nay"></a></p>
                <h4 id='energy' class="text-center">345678 kWh</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Pha 2</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage_2' class="text-center">230 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current_2' class="text-center">40 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power_2' class="text-center">23424 kW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ tháng <a class="thang nay"></a></p>
                <h4 id='energy_2' class="text-center">34353 kWh</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Pha 3</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage_3' class="text-center">240 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current_3' class="text-center">84 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power_3' class="text-center">1456544 kW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ tháng <a class="thang nay"></a></p>
                <h4 id='energy_3' class="text-center">5443678 kWh</h4>
            </div>
        </div>
    </div>
    <br >

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row my-0">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #fffebb">
        <div class="row">
            <div class="col-12 card" style="background-color: #e9eeff">
                <div class="panel">
                    <h3 class="text-center" style="color: blue">Danh sách khách hàng</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Số TT</th>
                                <th scope="col" class="text-center">Mã khách hàng</th>
                                <th scope="col" class="text-center">Họ và tên</th>
                                <th scope="col" class="text-center">Điện năng tháng <a class="thang nay"></a> (kWh)</th>
                                <th scope="col" class="text-center">Tổng tiền tháng <a class="thang nay"></a> (VNĐ)</th>
                                <th scope="col" class="text-center">Tổng tiền nợ (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% loadUserEJS(); 
                            function loadUserEJS() {for (i = 1; i < 10; i ++)
                            { %>
                                <tr id="trForEachCustomer_<%=i%>">
                                        <th scope="row" class="text-center"><%=i%></th>
                                        <td class="text-center" id="customerId_<%=i%>">PExxxxxxxxxx<%=i%></td>
                                        <td class="text-center" id="customerName_<%=i%>">Tên Khách Hàng <%=i%></td>
                                        <td class="text-center" id="customerEnergy_<%=i%>">Điện năng <%=i%></td>
                                        <td class="text-center" id="customerMoney_<%=i%>">Số tiền <%=i%></td>
                                        <td class="text-center" id="customerStatus_<%=i%>">0 </td>
                                </tr>
                            <% }}; %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Thông báo nội bộ</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <!-- <div>
                            <label> <span class="fas fa-angle-double-right"></span> screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label >  <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>

                            <label> <span class="fas fa-angle-double-right"></span>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Thông báo đã gửi</h3>
                </div>
                <div class="panel">
                    <div class="list-group" id="thongBaoDaGui">
                        <!-- CÁC THÔNG BÁO ĐÃ GỬI HIỆN Ở ĐÂY -->
                        <!-- CHÚNG ĐƯỢC CHÈN VÀO BẰNG JS -->
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Phản hồi của khách hàng</h3>
                </div>
                <div class="panel">
                    <div class="list-group" id="feedbackList">
                        <!-- <div>
                            <label> <span class="fas fa-angle-double-right"></span> screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label >  <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>

                            <label> <span class="fas fa-angle-double-right"></span>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--<div class="nav">-->
                <!--<footer class="blockquote-footer">-->

                <!--</footer>-->
            <!--</div>-->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="background-color: #0000ff;     ">

            </div>
            <div class="col-sm-8 text-white" style="background-color:#0000ff;">
                <p style="font-weight: bold;font-style: revert">Thông tin liên hệ </p>
                <div class="fas fa-home">
                    <i style="font-style: italic">Số 1 Võ Văn Ngân, phường Linh Chiểu, quận Thủ Đức, Tp.HCM</i>
                </div>
                <br>
                <div class="fas fa-phone">
                    <i style="font-style: italic">0968787976</i>
                </div>
                <br>
                <div class="fas fa-envelope" href="mailto:dienluc.hnn@gmail.com">
                    <i style="font-style: italic">dienluc.hnn@gmail.com</i>
                </div>

            </div>
            <!-- <div class="col-sm-3" style="background-color:#2aabd2;"></div> -->
        </div>
    </div>
<!--modal gui thong bao-->
<div class="modal fade" id="Modal_thongbao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tiêu đề:</label>
                        <input class="form-control" id="titleNotification_new"></input>
                        <label for="message-text" class="col-form-label">Thông báo:</label>
                        <textarea class="form-control" id="textNotification_new"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submitNotification_new">Gửi thông báo</button>
            </div>
        </div>
    </div>
</div>
<!--modal them khach hang-->
<div class="modal fade" id="Modal_ThemKhachHang" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm Khách hàng mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Họ và tên</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Mã khách hàng</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Đia chỉ</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-grouplg" style="width: 150px">
                                <span class="input-group-text">Số điện thoại</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--modal xem thong báo\-->
<div class="modal fade" id="Modal_xemthongbao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="notificationTitleModal">THÔNG BÁO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <div class="card border-success mb-3">
                    <div class="card-header bg-transparent border-success text-center" id="notificationTitle" style="font-size: 20px">Tiêu đề hiện ở đây</div>
                    <div class="card-body text-success">
                        <p class="card-text" id="notificationContent">trong đây là nội dung thông báo</p>
                    </div>
                    <div class="card-footer bg-transparent border-success" id="notificationTimeAndSender">Thời gian và người gửi hiện ở đây</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- hết modal xem thông báo   -->
    
<!--modal xem phản hồi\-->
<div class="modal fade" id="Modal_xemPhanHoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h5 class="modal-title" id="notificationTitleModal">THÔNG BÁO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div class="modal-body">
                    <div class="card border-success mb-3">
                        <div class="card-header bg-transparent border-success text-center" id="notificationTitle" style="font-size: 20px">Tiêu đề hiện ở đây</div>
                        <div class="card-body text-success">
                            <p class="card-text" id="notificationContent">trong đây là nội dung thông báo</p>
                        </div>
                        <div class="card-footer bg-transparent border-success" id="notificationTimeAndSender">Thời gian và người gửi hiện ở đây</div>
                    </div>
                    <div class="bg-transparent" id="previewFeedbackPhoto">
                        Hình ảnh đính kèm (nếu có): 
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- hết modal xem thông báo   -->
    
    <!-- modal xem ảnh kích thước lớn -->
    <div class="modal fade modal-view-photo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <img width=100% src="">
            </div>
    </div>    
    <!-- hết modal xem ảnh kích thước lớn -->

<script type="text/javascript" src="js/bootstrap.js" ></script>
<!-- BEGIN USER MANAGE -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script> -->
<script src="script/firebasejs/5.5.6/firebase-app.js"></script>
<script src="script/firebasejs/5.5.6/firebase-database.js"></script>
<script src="script/firebasejs/5.5.6/firebase-auth.js"></script>
<script src="js/firebasejs/5.5.6/firebase-storage.js"></script> <!-- 20181214 -->
<script src="script/init.js"></script>
  
<!-- <script src='https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js'></script> -->
<script src='js/moment.min.js'></script>
<!-- <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script> -->
<script src="js/jsalert.min.js"></script>
<script src="script/admin2FrontEnd.js"></script>
<!-- END USER MANAGE -->
<!-- CHART -->
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
<script src="js/canvasjs.min.js"></script>
<script src="script/myCanvasChart_admin_2.js"> </script>
<!-- <script src="script/myCanvasChart_20181105_ThangNayThangTruoc_OkOkOk.js"> </script> -->
<!-- <script src="script/chart.js"></script> -->
<!-- HẾT CHART -->
</myMain>
<myWait id="myWait">
    <p style="font-size:42px; text-align:center; font-family:'Consolas' ">
            Vui lòng chờ<br>
            <a id="threeDots"></a>
    </p>
    <!-- script dấu 3 chấm -->
    <script src="script/threeDots.js"></script>            
</myWait>

<script src="script/mySecurity.js"></script>
</body>
</html>
