<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<%/*   include include.ejs  */%>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


    <title>Trang cá nhân</title>

</head>

<body data-spy="scroll" data-target="#navbar-thongbao" style="background-color: rgba(245,239,211,0.64)">
<!--<%# include nav.ejs %>-->
<myMain id="myMain" hidden>
    <nav class="navbar sticky-top navbar-expand-xl py-1" style="background-color:#1F3A93">
        <a class="text-white navbar-brand" href="/">HỆ THỐNG QUẢN LÝ ĐIỆN NĂNG THÔNG MINH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <style>
                .navbar-toggler
                {
                    background-color:white;
                    border-radius: 3px;
                }
                .icon-bar
                {
                    width: 18px;
                    height: 4px;
                    background-color: blue;
                    margin: 3px 0px;
                    border-radius: 3px;
                }
            </style>
        </button>

        <div class="navbar-collapse navbar-brand collapse" id="navbarTogglerDemo03" style="font-size: 16px">

            <ul class="navbar-nav ml-6 ml-auto">
            <span style="color: white;" >
                <i class="fas fa-user-circle fa-2x" href="#" data-toggle="modal" data-target="#Modal_TK"></i>
            </span>
                <li class="text-white">
                    <a class="nav-link text-white" href="#"  data-toggle="modal" data-target="#Modal_TK">Thông tin tài khoản</a>
                </li>
                <li class="text-white">
                    <a class="nav-link text-white" href="#formThanhToan">Thanh toán</a>
                </li>
                <li class="text-white">
                    <a class="nav-link text-white" href="#"  data-toggle="modal" data-target="#Modal_phanhoi">Gửi phản hồi</a>
                </li>
                <!-- <li class="text-white">
                    <a class="nav-link text-white" href="#"  data-toggle="modal" data-target="#Modal_changePass">Đổi mật khẩu</a>
                </li> -->
                <li class="text-white">
                    <a class="nav-link text-white" href="/login" id="logout">Đăng xuất</a>
                    <script>
                      document.getElementById("logout").onclick =
                          function()
                          {
                            firebase.auth().signOut();
                          }
                    </script>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-2 card">
                <p class="text-center">Điện áp</p>
                <h4 id='voltage' class="text-center">-- (V)</h4>
            </div>
            <div class=" col-sm-2 card">
                <p class="text-center">Cường độ dòng điện</p>
                <h4 id='current' class="text-center">-- (A)</h4>
            </div>
            <div class="col-sm-2 card">
                <p  class="text-center"> Công suất</p>
                <h4 id='power' class="text-center">-- (kW)</h4>
            </div>
            <div class="col-sm-3 card">
                <p class="text-center" >  Điện năng tiêu thụ</p>
                <h4 id='energy' class="text-center">-- (kWh)</h4>
            </div>
            <div class="col-sm-3 card">
                <p class="text-center" style="color: blue">Điện năng tiêu thụ định mức</p>
                <h4 id='textLimitValue' class="text-center" >
                    -- (kWh)
                </h4>
                <div class="text-center" href="" data-toggle="modal" data-target="#Modal_limit" style="color: blue ; display: inline; font-size: 16px">
                    <a class="fas fa-edit" ></a>
                    <a style="display: inline;">Cài đặt</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="row my-0">
                        <div class="col-md-12" >
                            <div class="card">
                                <div class="card-body" >
                                    <div id="chartContainer" style="height: 276px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6 col-md-4 card "> -->
            <div class="col-md-6">
                <div class="card" style="padding-left:10px; padding-right:10px">
                    <div class="panel">
                        <h4 class="text-center" style="color: orangered">Thông báo</h4>
                    </div>
                    <div class="panel card">
                        <div class="list-group" style="height: 550px;">
                            <% loadNotificationEJS();
                            function loadNotificationEJS() {for (i = 0; i < 100; i ++)
                            { %>
                            <div id="divForEachNotification_<%=i%>">
                                <label>
                                    <span class="fas fa-angle-double-right">
                                    </span>
                                    <b data-toggle="modal" data-target="#Modal_xemthongbao" id="buttonNotification_<%=i%>" data-title="Thông báo <%=i%>">
                                        Thông báo <%=i%>
                                    </b>
                                    <br>
                                </label>
                            </div>
                            <% }}; %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-striped">
            <div class="table-responsive">
                <br>
                <!-- <h4 style="text-align: center">Trạng thái thanh toán 3 tháng gần nhất</h4> -->
                <table class="table">
                    <thead>
                    <tr><td colspan="4"><h4 style="text-align: center">Trạng thái thanh toán 3 tháng gần nhất</h4></td></tr>
                    <tr>
                        <th>Thời Gian</th>
                        <th>Lượng điện tiêu thụ (kWh)</th>
                        <th>Số tiền phải thanh toán (VNĐ)</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="thangNay">Tháng 11</td>
                        <td id="thangNay_DienNang">30</td>
                        <td id="thangNay_Tien">46470</td>
                        <td id="thangNay_TrangThai">Chưa thanh toán</td>
                    </tr>
                    <tr>
                        <td id="thangTruoc">Tháng 10</td>
                        <td id="thangTruoc_DienNang">0</td>
                        <td id="thangTruoc_Tien">0</td>
                        <td id="thangTruoc_TrangThai">Đã thanh toán</td>
                    </tr>
                    <tr>
                        <td id="thangTruocTruoc">Tháng 9</td>
                        <td id="thangTruocTruoc_DienNang">0</td>
                        <td id="thangTruocTruoc_Tien">0</td>
                        <td id="thangTruocTruoc_TrangThai">Đã thanh toán</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="formThanhToan" class="container-fluid">
            <p class="text-center" style="font-size: 24px;font-weight: bold;color: #004085">THANH TOÁN TRỰC TUYẾN</p>
            <i class="fas fa-exclamation-circle"> CHÚ Ý! <em>Dịch vụ này chỉ áp dụng cho những khách hàng đã có tài khoản Internet Banking. Đối với những khách hàng chưa đăng kí tài khoản Internet Banking, vui lòng đến tại quầy giao dịch của ngân hàng để làm thủ tục nhận tên đăng nhập và mật khẩu.</em></i>

            <div class="row">
                <div class="col-sm-4" style="background-color: #b8daff">
                    <label>Mã khách hàng<a style="color: red">*</a></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><li class="fas fa-barcode"></li></span>
                        </div>
                        <input type="text" class="form-control" id="customerId_payment" placeholder="Nhập mã khách hàng">
                    </div>
                    <label>Điện thoại<a style="color: red">*</a></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><li class="fas fa-phone"></li></span>
                        </div>
                        <input class="form-control" id="phoneNumber_payment" placeholder="Nhập số điện thoại">
                    </div>
                    <label>Email<a style="color: red">*</a></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><li class="far fa-envelope"></li></span>
                        </div>
                        <input class="form-control"  id="email_payment" placeholder="Nhập email">
                    </div>
                </div>
                <div class="col-sm-8" style="background-color:#2aabd2;">
                    <p style="color: white;font-weight: bold">Vui lòng chọn ngân hàng thanh toán</p>
                    <div class="row">
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/AB.jpg" class="mx-auto d-block" >
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/ACB.jpg" class="mx-auto d-block" >
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/Agri.jpg" class="mx-auto d-block">
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/NamA.jpg" class="mx-auto d-block" >
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/Donga.jpg" class="mx-auto d-block">
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/Mart.jpg" class="mx-auto d-block" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/BIDV.jpg" class="mx-auto d-block">
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/VCB.jpg" class="mx-auto d-block">
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/OCB.jpg" class="mx-auto d-block">
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/MB.jpg" class="mx-auto d-block" >
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/VP.jpg" class="mx-auto d-block" >
                        </div>
                        <div class="col-sm-2 btn" href="#">
                            <img src="IMAGE/SCB_1.jpg" class="mx-auto d-block">
                        </div>
                    </div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#Modal_thanhtoan" id="payment_SumitButton">Thanh toán</button>
                </div>
                <!--<script>-->
                  <!--// $('body').on('click','img',function()-->
                  <!--$('body').on('click','.mx-auto.d-block',function()-->
                  <!--{-->
                    <!--JSAlert.alert("Đang xử lý...").dismissIn(1000*.5);-->
                    <!--JSAlert.alert("Thanh toán thành công!");-->
                  <!--})-->
                <!--</script>-->
                <style>
                    .col-sm-2.btn{
                        /*border: 3px solid #1c44f8;*/
                    }
                    .selected{border: 3px solid #1c44f8;}
                </style>
                <script>
                    $('#payment_SumitButton').attr("disabled", "disabled");
                    $('.mx-auto.d-block').click(function (e) {
                      $('.mx-auto.d-block').removeClass('selected');
                      $(this).addClass('selected');
                      $('#payment_SumitButton').removeAttr("disabled");
                    });
                    $('#payment_SumitButton').on('click', function()
                    {
                        $('#payment_Name')[0].innerHTML = $('#displayName')[0].innerHTML;
                        $('#payment_Address')[0].innerHTML = $('#address')[0].innerHTML;
                        $('#payment_CustomerId')[0].innerHTML = $('#customerId_payment')[0].value;
                        $('#payment_PhoneNumber')[0].innerHTML = $('#phoneNumber_payment')[0].value;
                        $('#payment_Email')[0].innerHTML = $('#email_payment')[0].value;
                        $('#payment_Bank').attr("src", $('.mx-auto.d-block.selected')[0].currentSrc);
                    })
                </script>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" style="background-color: #2aabd2;     ">

                </div>
                <div class="col-sm-8" style="background-color:#2aabd2;">
                    <p style="font-weight: bold;font-style: revert">Thông tin liên hệ </p>
                    <div class="fas fa-home">
                        <i style="font-style: italic">Số 1 Võ Văn Ngân, phường Linh Chiểu, quận Thủ Đức, Tp.HCM</i>
                    </div>
                    <br>
                    <div class="fas fa-phone">
                        <i style="font-style: italic">0968787976</i>
                    </div>
                    <br>
                    <div class="fas fa-envelope">
                        <i style="font-style: italic">dienluc.hnn@gmail.com</i>
                    </div>

                </div>
                <!-- <div class="col-sm-3" style="background-color:#2aabd2;"></div> -->

            </div>
        </div>
    </div>

    

    <!-- CỬA SỔ PHẢN HỒI -->
    <!--modal_phanhoi-->
    <div class="modal fade" id="Modal_phanhoi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Phản hồi:</label>
                            <textarea class="form-control" id="textFeedback"></textarea>
                        </div>
                    </form>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Chọn ảnh đính kèm liên quan:</label>
                            <input type="file" id="file-input" accept="image/*" multiple onchange="loadFile(event)">
                            <!--<img id="output" style="max-width: 200px"/>-->
                            <div id="preview"></div>
                        </div>
                    </form>
                    <script>
                      // var loadFile = function(event) {
                      //   var reader = new FileReader();
                      //   reader.onload = function(){
                      //     var output = document.getElementById('output');
                      //     output.src = reader.result;
                      //   };
                      //   reader.readAsDataURL(event.target.files[0]);
                      //   reader.readAsDataURL(event.target.files[1]);
                      //   reader.readAsDataURL(event.target.files[2]);
                      //   reader.readAsDataURL(event.target.files[3]);
                      // };
                      function previewImages() {
                        var preview = document.querySelector('#preview');
                        if (this.files) {
                          [].forEach.call(this.files, readAndPreview);
                        }
                        function readAndPreview(file) {
                          // Make sure `file.name` matches our extensions criteria
                          if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                            return alert(file.name + " không đúng định dạng hình ảnh!");// is not an image
                          } // else...

                          var reader = new FileReader();

                          reader.addEventListener("load", function() {
                            var image = new Image();
                            image.height = 100;
                            image.title  = file.name;
                            image.src    = this.result;
                            preview.appendChild(image);
                          }, false);

                          reader.readAsDataURL(file);

                        }

                      }

                      document.querySelector('#file-input').addEventListener("change", previewImages, false);
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="submitFeedback">Gửi phản hồi</button>
                </div>
            </div>
            <script>
              var submitFeedback = document.getElementById("submitFeedback");
              var textFeedback = document.getElementById("textFeedback");
              submitFeedback.onclick =
                  function()
                  {
                    // JSAlert.alert(textFeedback.value);
                    var nowMils = Date.now();
                    var time = moment(nowMils).format("YYYYMMDDHHmm");
                    var path = "/AdminThuDuc/feedback/" + time;
                    firebase.database().ref(path + "/content").set(textFeedback.value, function(error)
                    {
                      if (error) {
                        // The write failed...
                        // console.log("Update False");
                        // return false;
                      } else {
                        // Data saved successfully!
                        // return true;
                      }
                    });
                    firebase.database().ref(path + "/time").set(time, function(error) {});
                  }
            </script>
        </div>
    </div>
    <!--modal center-->


    <div class="modal fade" id="Modal_TK" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>Thông tin tài khoản</h3>
                        </div>
                        <div class="card-body">
                            <div class="table card">
                                <table class="table table-bordered" >
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Tên khách hàng</td>
                                        <td id="displayName"><%/* user.displayName */%></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Mã khách hàng</td>
                                        <td id="customerId"><%=user.customerId %></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Địa chỉ</td>
                                        <td id="address"><%=user.address %></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Số điện thoại</td>
                                        <td id="phoneNumber"><%= user.phoneNumber %></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Email</td>
                                        <td id="email"><%= user.email %></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Tên đăng nhập</td>
                                        <td>
                                            <a id="loginUserName"> </a>
                                            <div href="#" data-toggle="modal" data-target="#loginUserNameForm" style="color: blue; display: inline">
                                                <a class="fas fa-edit" ></a>
                                                <a>Sửa</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Mật khẩu</td>
                                        <td>
                                            <div href="#" data-toggle="modal" data-target="#Modal_changePass" style="color: blue; display: inline">
                                                <a class="fas fa-edit" ></a>
                                                <a>Đổi mật khẩu</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CỬA SỔ CÀI ĐẶT GIỚI HẠN -->
    <div class="modal fade" id="Modal_limit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- <form> -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thay đổi giới hạn sử dụng điện</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <form class="form-group"> -->
                    <p>Khi cài đặt giới hạn sử dụng điện, người dùng sẽ nhận được 2 lần thông báo, khi điện năng tiêu thụ đạt tới 80% hoặc 100% định mức.</p>
                    <input class="form-control rounded-0 " type="number" id="iLimitValue">
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <!-- CỬA SỔ NHẬP LOGIN USER NAME -->
    <div class="modal fade" id="loginUserNameForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nhập tên đăng nhập mới:</label>
                            <!-- <textarea class="form-control rounded-0 " rows="1" id="loginUserNameInput"></textarea> -->
                            <input class="form-control rounded-0 " id="loginUserNameInput">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="submitLoginUserName">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!-- HẾT CỬA SỔ NHẬP USER LOGIN NAME -->

    <!-- CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU -->
    <!-- PHẢI ĐẶT ĐOẠN CODE NÀY Ở NGOÀI CÙNG,
    KHI NÓ XUẤT HIỆN THÌ NỀN SẼ MỜ ĐI,
    NẾU ĐẶT Ở TRONG THÌ KHI NÓ XUẤT HIỆN
    NÓ CŨNG MỜ THEO NỀN VÀ KHÔNG THAO TÁC ĐƯỢC -->

    <!-- HẾT CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU -->

    <!-- CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU 2 -->
    <div class="modal fade" id="Modal_changePass" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- <form action="/user/changePass2/<%= user.email %>" method="GET" target=""> -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group" hidden>
                                <span class="input-group-text">Email (ẨN) </span>
                                <input id="email__" name="email" value="<%= user.email %>">
                            </div>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập mật khẩu cũ:</span>
                                </div>
                                <input id="oldPass" name="oldPass" type="password" aria-label="First name" class="form-control">
                            </div>
                            <p style="color:red; text-align: right" id="notifyOldPassWrong" hidden>Mật khẩu cũ không đúng!</p>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập mật khẩu mới:</span>
                                </div>
                                <input id="newPass" oninput="myFunction()" type="password" aria-label="First name" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập lại mật khẩu mới:</span>
                                </div>
                                <input id="newPassRetype" oninput="myFunction()" type="password" aria-label="First name" class="form-control">
                            </div>
                            <p style="color:red; text-align: right" id="notMatch" hidden>Mật khẩu mới không khớp!<br></p>
                            <p style="color:red; text-align: right" id="notify8Char" hidden>Chiều dài mật khẩu ít nhất 8 ký tự!<br></p>
                            <p style="color:green; text-align: center" id="notifySuccess" hidden>Đổi mật khẩu thành công!<br></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="submitChangePass" >Xác nhận</button>
                </div>
                <script src="script/changePassModal.js"></script>
            </div>
        </div>
        <!-- </form> -->
    </div>
    <!-- HẾT CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU -->

    <!--modal xem thong báo\-->
    <div class="modal fade" id="Modal_xemthongbao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h5 class="modal-title" id="notificationTitleModal">THÔNG BÁO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div class="modal-body">
                    <div class="card border-success mb-3">
                        <div class="card-header bg-transparent border-success text-center" id="notificationTitle" style="font-size: 20px">Tiêu đề hiện ở đây</div>
                        <div class="card-body text-success">
                            <p class="card-text" id="notificationContent">trong đây là nội dung thông báo</p>
                        </div>
                        <div class="card-footer bg-transparent border-success" id="notificationTimeAndSender">Thời gian và người gửi hiện ở đây</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!--modal thanh toán-->
    <div class="modal fade" id="Modal_thanhtoan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">THÔNG TIN THANH TOÁN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td class="font-weight-light">Nội dung thanh toán</td>
                            <td class="font-weight-light">Thanh toán hóa đơn tiền điện</td>
                        </tr>
                        <tbody>
                        <tr>
                            <td class="font-weight-light">Tên khách hàng</td>
                            <td id="payment_Name"></td>
                        </tr>
                        <tr>    
                            <td class="font-weight-light">Mã khách hàng</td>
                            <td id="payment_CustomerId"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-light">Địa chỉ</td>
                            <td id="payment_Address"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-light">Số điện thoại</td>
                            <td id="payment_PhoneNumber"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-light">Email</td>
                            <td id="payment_Email"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-light">Ngân hàng liên kết</td>
                            <td> <img id="payment_Bank" src="" /> </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card" style="background-color: orangered;color: white">
                        Số tiền cần thanh toán 
                        <a id="payment_Money"></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="xacNhanThanhToan">Xác nhận thanh toán</button>
                    <script>
                        $('#xacNhanThanhToan').on("click", function() 
                        {
                            JSAlert.alert("Đang xử lý...").dismissIn(1000*.5);
                            var money = "---";
                            JSAlert.alert("Đã thanh toán thành công số tiền " + money + " VNĐ!");
                        }) 
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/bootstrap.js" ></script>
    <!-- BEGIN USER MANAGE -->
    <p id='userServer'    hidden > <%= JSON.stringify(user) %> </p>

    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-functions.js"></script><!--20181114-->
    <script src="script/init.js"></script>

    <script src='https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js'></script>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <script src="script/userFrontEnd.js"></script>
    <!-- END USER MANAGE -->
    <!-- CHART -->
    <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
    <script src="js/canvasjs.min.js"></script>
    <script src="script/myCanvasChart.js"></script>
    <!-- <script src="script/myCanvasChart_20181105_ThangNayThangTruoc_OkOkOk.js"> </script> -->
    <!-- <script src="script/chart.js"></script> -->
    <!-- HẾT CHART -->



    <!-- SOCKET IO -->
    <!-- <script src="js/socket.io.js"></script>
    <script src="script/mySocketIO.js"></script> -->
    <!-- HẾT SOCKET IO -->
</myMain>
<myWait id="myWait">
    <p style="font-size:42px; text-align:center; font-family:'Consolas' ">
        Vui lòng chờ<br>
        <a id="threeDots"></a>
    </p>
    <!-- script dấu 3 chấm -->
    <script src="script/threeDots.js"></script>
</myWait>

<audio id="audioAlert">
    <source src="SOUND/beep-04.mp3" type="audio/mpeg">
    <source src="SOUND/beep-04.wav" type="audio/wav">
    Your browser does not support the audio element.
</audio>
<audio id="audioAlert_Notification">
    <source src="SOUND/beep-04.mp3" type="audio/mpeg">
    <source src="SOUND/beep-04.wav" type="audio/wav">
    Your browser does not support the audio element.
</audio>
<script src="script/mySecurity.js"></script>
</body>

</html>




