<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<%/*   include include.ejs  */%>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


    <title>Trang cá nhân</title>

</head>

<body data-spy="scroll" data-target="#navbar-thongbao" style="background-color: rgba(245,239,211,0.64)">
<!--<%# include nav.ejs %>-->
    <nav class="navbar sticky-top navbar-expand-xl py-1" style="background-color:#1F3A93">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="text-white navbar-brand" href="/">HỆ THỐNG QUẢN LÝ ĐIỆN NĂNG THÔNG MINH</a>

        <div class="navbar-collapse navbar-brand" id="navbarTogglerDemo03" style="font-size: 16px">
            <ul class="navbar-nav ml-4 ml-auto">
                <!--<li class=" dropdown">-->
                    <!--<a class="nav-link dropdown-toggle text-white"  href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Cài đặt-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" >-->
                        <!--<a class="dropdown-item" href="#">Định mức sử dụng điện</a>-->
                    <!--</div>-->
                <!--</li>-->
                <li class="text-white">
                    <a class="nav-link text-white" href="#">Thanh toán</a>
                </li>
                <li class="text-white">
                    <a class="nav-link text-white" href="#"  data-toggle="modal" data-target="#Modal_phanhoi">Gửi phản hồi</a>
                </li>
                <li class="text-right">
                    <a class="nav-link text-white" href="#"  data-toggle="modal" data-target="#Modal_changePass">Đổi mật khẩu</a>
                </li>
                <li class="text-right">
                    <a class="nav-link text-white" href="/login/logout">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-2 card">
                <p class="text-center">Điện áp</p>
                <h4 id='voltage' class="text-center">-- (V)</h4>
            </div>
            <div class=" col-sm-3 card">
                <p class="text-center">Cường độ dòng điện</p>
                <h4 id='current' class="text-center">-- (A)</h4>
            </div>
            <div class="col-sm-2 card">
                <p  class="text-center"> Công suất</p>
                <h4 id='power' class="text-center">-- (kW)</h4>
            </div>
            <div class="col-sm-3 card">
                <p class="text-center" >  Điện năng tiêu thụ</p>
                <h4 id='energy' class="text-center">-- (kWh)</h4>
            </div>
            <div class="col-sm-2 card">
                <p class="text-center" style="color: blue">Cài đặt điện năng <br>tiêu thụ định mức</p>
                <h4 id='limited' class="text-center" >
                    300 kWh    
                    <div class="text-center" href="" data-toggle="modal" data-target="#ModalCenter" style="color: blue ; display: inline; font-size: 16px">
                            <a class="fas fa-edit" ></a>
                            <a>Sửa</a>
                    </div>             
                </h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row my-0">
                    <div class="col-md-12" >
                        <div class="card">
                            <div class="card-body" >
                                <div id="chartContainer" style="height: 280px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table card">
                    <table class="table table-bordered" >
                        <tbody>
                        <tr>
                            <td class="font-weight-bold">Tên khách hàng</td>
                            <td id="displayName"><%=user.displayName %></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Mã khách hàng</td>
                            <td id="customerId"><%=user.customerId %></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Địa chỉ</td>
                            <td id="address"><%=user.address %></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Số điện thoại</td>
                            <td id="phoneNumber"><%= user.phoneNumber %></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Email</td>
                            <td id="email"><%= user.email %></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Tên đăng nhập</td>
                            <td>
                                <a id="loginUserName"> </a>
                                <div href="" data-toggle="modal" data-target="#loginUserNameForm" style="color: blue; display: inline">
                                    <a class="fas fa-edit" ></a>
                                    <a>Sửa</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6 col-md-4 card" style="bottom: 0px; height: 635px">
                <div class="panel">
                    <h4 class="text-center" style="color: orangered">Thông báo</h4>
                </div>
                <div class="panel card">
                    <div class="list-group" style="height: 550px;">
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 1</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 2</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 3</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. .Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ . Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-striped">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Thời Gian</th>
                        <th>Lượng điện tiêu thụ</th>
                        <th>Số tiền phải thanh toán</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
<div style="background-color:  #1F3A93">
    <footer>
        <p class="text-center text-white">Tổng công ty Điện lực Hiến - Nghĩa - Nam</p>
        <p class="text-center text-white">Thông tin liên hệ: <a href="mailto:namnguyen260596@gmail.com">namnguyen260596@gmail.com</a>.</p>
        <p class="text-center text-white">Số điện thoại trực tuyến: <a href="">0968787976</a>.</p>

    </footer>
</div>
<!-- CỬA SỔ PHẢN HỒI -->
<!--modal_phanhoi-->
<div class="modal fade" id="Modal_phanhoi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Phản hồi:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Gửi phản hồi</button>
            </div>
        </div>
    </div>
</div>
<!--modal center-->
<!-- CỬA SỔ CÀI ĐẶT GIỚI HẠN -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Thay đổi giới hạn sử dụng điện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <input type="number">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- CỬA SỔ NHẬP LOGIN USER NAME -->
<div class="modal fade" id="loginUserNameForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nhập tên đăng nhập mới:</label>
                        <textarea class="form-control rounded-0 " rows="1" id="loginUserNameInput"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submitLoginUserName">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- HẾT CỬA SỔ NHẬP USER LOGIN NAME -->

<!-- CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU --> 
<!-- PHẢI ĐẶT ĐOẠN CODE NÀY Ở NGOÀI CÙNG, 
KHI NÓ XUẤT HIỆN THÌ NỀN SẼ MỜ ĐI,
NẾU ĐẶT Ở TRONG THÌ KHI NÓ XUẤT HIỆN 
NÓ CŨNG MỜ THEO NỀN VÀ KHÔNG THAO TÁC ĐƯỢC -->
<div class="modal fade" id="Modal_changePass_OLD" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"><b>Bây giờ, bạn sẽ được chuyển tới trang đăng nhập.</b> <br>Sau đó, một liên kết sẽ được gửi tới email của bạn, <br>hãy truy cập liên kết đó để đổi mật khẩu mới! <br></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form action="/user/changePass/<%= user.email %>" method="GET" target="">
                <!-- <a href="/user/changePass/<%= user.email %>" > -->
                    <button type="submit" class="btn btn-primary" >Xác nhận</button>
                <!-- </a> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- HẾT CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU -->

<!-- CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU 2 --> 
<div class="modal fade" id="Modal_changePass" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <form action="/user/changePass2" method="GET" target=""> -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group" hidden>
                                <span class="input-group-text">Email (ẨN) </span>
                                <input id="email__" name="email" value="<%= user.email %>">
                            </div>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập mật khẩu cũ:</span>
                                </div>
                                <input id="oldPass" name="oldPass" type="password" aria-label="First name" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập mật khẩu mới:</span>
                                </div>
                                <input id="newPass" name="newPass" type="password" aria-label="First name" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-lg" style="width: 200px">
                                    <span class="input-group-text">Nhập lại mật khẩu mới:</span>
                                </div>
                                <input id="newPassRetype" type="password" aria-label="First name" class="form-control">
                            </div>
                            <a style="color:red; text-align: right" id="notMatch" hidden>Mật khẩu mới không khớp</a>
                            <script src="script/checkRetypePassMatch.js"></script>
                            <a style="color:red; text-align: right" id="notificate" hidden>Thông báo</a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="submitChangePass" class="btn btn-primary" >Xác nhận</button>
                </div>
                <script>
                    var submitChangePass = document.getElementById("submitChangePass");
                    var notificate = document.getElementById("notificate");
                    var email__ = document.getElementById("email__");
                    var oldPass = document.getElementById("oldPass");
                    var newPass = document.getElementById("newPass");
                    submitChangePass.onclick = 
                    function()
                    {
                        notificate.hidden = "";
                        console.log(email__.value);
                        console.log(oldPass.value);
                        console.log(newPass.value);
                        var path = "/user/changePass2?email=" + email__.value + "&oldPass=" + oldPass.value + "&newPass=" + newPass.value;
                        console.log(path);
                        axios.get(path)
                        .then(function (response)
                        {
                            console.log(response);
                            notificate.hidden = "";
                            if (response.data == "Change password OK") 
                            {
                                notificate.innerHTML = "Đổi mật khẩu thành công!";
                                notificate.style.color = "green";
                            }
                            else
                            {
                                notificate.innerHTML = response.data;
                                notificate.style.color = "red";
                            }
                        });                    
                    }
                </script>
            </div>
        </div>
    <!-- </form>                 -->
</div>
<!-- HẾT CỬA SỔ XÁC NHẬN ĐỔI MẬT KHẨU -->


<script type="text/javascript" src="js/bootstrap.js" ></script>
<!-- BEGIN USER MANAGE -->
<p id='userServer'    hidden > <%= JSON.stringify(user) %> </p>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-database.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-functions.js"></script> -->
<script src='https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js'></script>
<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script> 
<script src="script/userFrontEnd.js"></script>
<!-- END USER MANAGE -->
<!-- CHART -->
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
<script src="js/canvasjs.min.js"></script>
<script src="script/myCanvasChart.js"> </script>
<!-- <script src="script/myCanvasChart_20181105_ThangNayThangTruoc_OkOkOk.js"> </script> -->
<!-- <script src="script/chart.js"></script> -->
<!-- HẾT CHART -->



<!-- SOCKET IO -->
<script src="js/socket.io.js"></script>
<script src="script/mySocketIO.js"></script>
<!-- HẾT SOCKET IO -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>


</body>

</html>

